_ Author: Howie Kaye
_
_ Columbia University Center for Computing Activities, July 1986.	
_ Copyright (C) 1986, 1987, Trustees of Columbia University in the
_ City of New York.  Permission is granted to any individual or
_ institution to use, copy, or redistribute this software so long as
_ it is not sold for profit, provided this copyright notice is
_ retained.
_

/* filename parse errors */

fnerror(NM, `Does not match filename')
fnerror(AMB,`Ambiguous')
fnerror(NWLD,`Cannot specify wildcards in nonwild parse')
fnerror(INV,`Invalid combination of parse flags')
fnerror(BAD,`Invalid file spec')
fnerror(PMA,`Ambiguous')

/*
 * FILBLK structure describes a data block to be passed to the file
 * name parser
 */
typedef struct FILBLK {
	char **pathv;		/* NULL terminated vector of dirs */
	char *exceptionspec;	/* regexp of exceptions */
	char **def_extension;   /* list of extensions to use */
} filblk;

/*
 * flags that can be present in a filename fdb 
 */

fnflag(OLD)			/* existing file */
fnflag(PO)			/* nonexisting file */
fnflag(SDH)			/* don't give standard help */
fnflag(DIR)			/* a directory */
fnflag(RD)			/* a readable file */
fnflag(WR)			/* a writable file */
fnflag(EXEC)			/* an executable file */
fnflag(HID)			/* a hidden file (MSDOS) */
fnflag(SYS)			/* a system file (MSDOS) */
#define FIL_ALL (FIL_DIR|FIL_RD|FIL_WR|FIL_EXEC|FIL_HID|FIL_SYS)
fnflag(WLD)			/* wild cards allowed */
fnflag(REGEXP)			/* regexp's allowed */
fnflag(NOPTH)			/* only display filename in help */
fnflag(NOEXT)			/* don't display extention in help */
fnflag(TYPE)			/* display the type of file in help */

typedef char **pvfil;		/* return a NULL terminated string vector */

pvtype(pvfil)_			/* FIL returns a list of file structures */

