
_ Author: Howie Kaye
_
_ Columbia University Center for Computing Activities, July 1986.
_ Copyright (C) 1986, 1987, Trustees of Columbia University in the
_ City of New York.  Permission is granted to any individual or
_ institution to use, copy, or redistribute this software so long as
_ it is not sold for profit, provided this copyright notice is
_ retained.
_

/* groupname parse errors */
fnerror(NM, `Does not match group name')
fnerror(AMB,`ambiguous')

fnflag(WILD)				/* allow wild groups */
fnflag(NOUPD)				/* defer update of group table */
					/* even if /etc/group has been  */
					/* updated */
fnflag(UPDONLY)				/* forced update of group table */
					/* parse will fail. */
					/* allows table to updated with  */
					/* no parse done. */

#if (BSD|SYSV)
#include <grp.h>
#else
struct group {
  int x;
};
#endif
pvtype(struct group **)_
