_ Author: Howie Kaye
_
_ Columbia University Center for Computing Activities, July 1986.
_ Copyright (C) 1986, 1987, Trustees of Columbia University in the
_ City of New York.  Permission is granted to any individual or
_ institution to use, copy, or redistribute this software so long as
_ it is not sold for profit, provided this copyright notice is
_ retained.
_

/* username parse errors */
fnerror(NM, `Does not match username')
fnerror(AMB,`ambiguous')

/* parse a wild username */
fnflag(WILD)				/* allow wild users */
fnflag(NOUPD)				/* defer update of user table */
					/* even if /etc/passwd has been  */
					/* updated */
fnflag(UPDONLY)				/* forced update of user table */
					/* parse will fail. */
					/* allows table to updated with  */
					/* no parse done. */
					/* when using this flag, you */
					/* must trap errors yourself, or */
					/* a "no such user error" will be */
					/* displayed */
#if (BSD|SYSV)
#include <pwd.h>
#else
struct passwd {
  int x;
};
#endif
pvtype(struct passwd **)_
