_ Author: Andrew Lowry
_
_ Columbia University Center for Computing Activities, July 1986.
_ Copyright (C) 1986, 1987, Trustees of Columbia University in the
_ City of New York.  Permission is granted to any individual or
_ institution to use, copy, or redistribute this software so long as
_ it is not sold for profit, provided this copyright notice is
_ retained.
_

#include "datime.h"		/* need these symbols to use _CMTAD */

/* time/date parse errors */

fnerror(NTD,`Both time and date are suppressed in time/date parse')
fnerror(TIM,`Invalid time')
fnerror(DAT,`Invalid date')
fnerror(DT,`Invalid time and date')

pvtype(datime)_ 		/* TAD parse returns a datime structure */
